<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Test</a>
    <button class="btn btn-danger" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich  " aria-hidden="true"></span> Fetch data
            </NavLink>
        </li>

        @navLinkTemplate(("todo", "oi-list", "Todo"))
        @navLinkTemplate(("route-parameter", "oi-eject", "Route Parameter"))
        @navLinkTemplate(("route-constraint/42", "oi-dial", "Route Constraint"))
        @navLinkTemplate(("overwritten-parameters", "oi-rain", "Overwritten Parameters"))
        @navLinkTemplate(("capture-component-ref", "oi-aperture", "Capture Component Ref"))
        @navLinkTemplate(("key-directive", "oi-align-left", "Key Directive"))
        @navLinkTemplate(("layout", "oi-laptop", "Nested Layout"))
        @navLinkTemplate(("binding", "oi-account-login", "Nested Component Binding"))
        @navLinkTemplate(("templated-component", "oi-align-center", "Templated Component"))
        @navLinkTemplate(("event-handling", "oi-arrow-top", "Event Handling"))
        @navLinkTemplate(("cancel-background-work", "oi-arrow-bottom", "Cancel Background Work"))
        @navLinkTemplate(("form-and-validation", "oi-circle-x", "Form and Validation"))
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }


    private RenderFragment<(string href, string icon, string value)> navLinkTemplate =
    (tuple) =>@<li class="nav-item px-3">
        <NavLink class="nav-link" href="@tuple.href"> <span class=@($"oi {tuple.icon}") aria-hidden="true"></span> @tuple.value</NavLink>
    </li>;

private RenderFragment<(string href, string icon, string value)> navLinkTemplateSmall =
(tuple) =>@<li class="nav-item px-3">
    <NavLink class="nav-link" href="@tuple.href"> <span class=@($"oi {tuple.icon}") aria-hidden="true"></span><span class="small">@tuple.value</span></NavLink>
</li>;
}
